{% extends "layout2.html" %}
{% block content %}
<h1>Bot</h1>

<table class="table table-striped table-hover">
    <thead>
        <!-- [ BetBot.prediction, Match.id, Match.home_team, Match.away_team, Match.date, Odd.team ] -->
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Partido</th>
            <th>Pronóstico</th>
            <th>Info</th>
            
        </tr>
    </thead>

    <tbody>
        {% for prediction in predictions %}
        <tr>
            <td>{{ prediction[4].strftime('%Y-%m-%d') }}</td>
            <td>{{ prediction[4].strftime('%H:%M') }}</td>
            <td>{{ prediction[2] }} vs {{ prediction[3] }}</td>
            <td>{{ prediction[5]}}</td>
            <td><a href="{{  url_for('matches.match_info', match_id=prediction[1]) }}" class="btn btn-outline-dark">Partido</a></td>
        </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}