{% extends "layout2.html" %}
{% block content %}
<div class="content-section">
    <form action="" method="POST" class="pb-3">
        {{ form.hidden_tag() }}
        <legend class="">Log In</legend>
        <div class="mb-3">
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
            {{ form.email(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.email(class="form-control") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
            {{ form.password(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.password.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ form.password(class="form-control") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.remember() }}
            {{ form.remember.label() }}
        </div>
        {{ form.submit(class="btn btn-outline-dark") }}
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account? <a href="{{ url_for('users.register') }}" class="ml-2">Create account</a>
        </small>
    </div>
</div>
{% endblock content %}